<div class="row" >
    <div class="col-md-12">
            
        <div class="slidecontainer">
                <p>Current Weight:</p>
                
            </div>
                <input type="range" min="1" max="100" value="50" class="slider" id="myRange"> 
                <p style="text-align:left;">
                        0 lbs
                        <span style="float:right;">400 lbs</span>
                        </p>
              
    </div>
</div>

<div class="row" >
  <div class="col-md-4">
      <div class="card" >
          <div class="card-header">My Exercises ({{Me.Name}}) </div>
          <ul class="list-group list-group-flush my-exercises">
              <li *ngFor="let exercise of Me.MyExercises" 
                  (click)="submitExercise($event, exercise)"
                  class="list-group-item">
                  {{exercise}}
              </li>
          </ul>
        </div>
  </div>
  <div class="col-md-8">
      <div class="card bg-info mb-3" >
          <div class="card-header text-white">My Exercises for today:
            </div>
              <ul class="list-group list-group-flush ">
                  <li *ngFor="let exercise of Model.PlayedExercises"
                      class="list-group-item d-flex justify-content-between align-items-center">
                      {{exercise.Text}}
                     <!-- <button class="close" (click)="delete(i)">&times;</button>           Tried to implement a delete feature -->
                  </li>
              </ul>
          </div>
  </div>
</div>