<div>
  <h3>This app will help you track your exercises! Please click on Tracker↑↑↑</h3>
  <h5>Here are some example exercises you can do! ↓</h5>
</div>
    <div class="row">
        <div class="col">
            <div class="card">
              <img class="card-img-top" src="https://fitnesslavie.files.wordpress.com/2014/05/deadlift.png" style="width:300px;height:200px;">
              <div class="card-body">
                <h5 class="card-title">Deadlift</h5>
                <p class="card-text">This is a great exercise for your hamstrings.</p>
              </div>
            </div>
        </div>
            <div class="col">
                <div class="card">
                  <img class="card-img-top" src="http://www.workoutroutinewarehouse.com/images/xbench-press-2.png.pagespeed.ic.cKDs239oae.webp" style="width:250px;height:200px;">
                  <div class="card-body">
                    <h5 class="card-title">Bench Press</h5>
                    <p class="card-text">This is a good exercise to develop your chest muscles.</p>
                  </div>
                </div>
            </div>
                <div class="col">
                    <div class="card">
                      <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Squats-2.png/508px-Squats-2.png" style="width:200px;height:200px;">
                      <div class="card-body">
                        <h5 class="card-title">Squat</h5>
                        <p class="card-text">This is a fantastic exercise to strengthen your quads.</p>
                      </div>
                    </div>
                </div>
    </div>